{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="background">
<div class="login-container">
    <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="Logotype" class="logo">
    </div>
    <div class="form-container">
            <form method="POST">
                <h3 class="text-center">Log in</h3>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group text-center">
                    <a href="/sign-up" style="margin-top: 10px;">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>
    <style>

    .background {
    
  }

    .login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-container {
    width: 100%;
}

.logo {
    width: 100%;
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    padding-left: 0;
}

@media (min-width: 769px) {
    .login-container {
        flex-direction: row;
    }

    .logo-container {
        width: 70%;
    }

    .form-container {
        width: 30%;
        padding-left: 30px;
    }
}
    </style>
{% endblock %}